%%% -*- mode: erlang -*-
{src_dirs, ["src", "test"]}.
{deps_dir , "deps"}.
{lib_dirs , []}.

{deps, [{'erlsom', ".*", {git, "https://github.com/maciaslopez/erlsom.git", "master"}}
       ]}.

%% Erlang compiler options
{erl_opts, [ debug_info
%           , warnings_as_errors
           ]}.


%% Tests and checks. Note cover is enabled or disabled in rebar.config.script
{cover_enabled, true}.
{cover_print_enabled , true}.
{xref_warnings , false}.
{xref_checks , [undefined_function_calls]}.
{xref_queries , [{"XC || DF",[]}]}. % Deprecated function calls

